<div class="header">
</div>


<div class="main">
  <div class="sideMenu">
    <div class="sideMenu__content">
      <div class="sideMenu__content--group">
        うさぎグループ
      </div>  
      <div class="sideMenu__content--title">
        うさぎタイトル
      </div>
      <div class="sideMenu__content--user">
        うさぎ
      </div>
    </div>
   
  </div>

  <div class="contents">
    
  

    
  



  </div>






