<div class="main">
  <div class="sideMenu">
    <div class="user--info">

      <div class="user--info__image">
        <img src=<%= current_user.image %> class = "icon_image">
      </div>
      
      <div class="user--info__name">
        <p><%= current_user.name %></p>
      </div>
    </div>  
    <div class="puzzle--list">

      <div class="puzzle--list--name">
        <p>Progate HTML&CSS</p>
      </div>
      <div class="puzzle--list--name">
        <p>Progate RubyonRails</p>
      </div>
      <div class="puzzle--list--name">
        <p>ドットインストール JavaScript</p>
      </div>

    </div> 
  </div>

  <div class="contents">
    <ul class="contents--menus">
      <li class="contents--menu">
        <p>新規パズル作成</p>
      </li>
      <li class="contents--menu">
        <p>パズル削除</p>
      </li>
      <li class="contents--menu">
        <p>タスク編集</p>
      </li>
    </ul>
  </div>
</div>
