.header {
  background-color: #343a40;
  height: 65px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  &__menus{
    list-style: none;
    line-height: 65px;
    display: flex;

  }
  &__menu{
    padding:0 25px;
    &--link{
      font-size: 18px;
      color: #fff;
      text-decoration: none;
    }
  }
  .myname{
    margin-left: auto;
  }
}

.main{
  height: 100vh;
  display: flex;
  .sideMenu{
    width: 200px;
    background-color: #c0c0c0;
  }
  .contents{
    width: calc(100vw - 200px);
    background-color: #fff;
  }
}