

.header {
  background-color: #00E0FF;
  height: 65px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  &__menus{
    list-style: none;
    line-height: 65px;
    display: flex;

  }
  &__menu{
    padding:0 25px;
    &--link{
      font-size: 18px;
      color: black;
      text-decoration: none;
    }
    &--link:hover{
      transition: all 0.3s ease 0s;
      border-bottom: 3px solid #0066FF;
    }
  }
  .myname{
    margin-left: auto;
  }
}

.main{
  height: 100vh;
  display: flex;
  .sideMenu{
    width: 200px;
    background-color: #A6FFF2;
  }
  .contents{
    width: calc(100vw - 200px);
    background-color: #fff;
  }
}