.top{
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: calc(100vh - 65px);
    margin-top: 65px;
  }
  .sign{
    border: 1px solid silver;
    width: 445px;
    height: 620px;
    background-color: #fff;
    &__top{
      background-color: #74F9FF;
      height: 50px;
      border-bottom: 1px solid silver;
    }
    &__top p{
      line-height: 50px;
      font-size: 28px;
      text-align: center;
    }
    &__container{
      padding: 15px;
      &--input{
        width: 100%;
        height: 35px;
        margin: 10px auto;
        border-radius: 4px;
        font-size: 16px;
        padding-left: 3px;
      }
      &--rememberable{
      margin-top: 50px;
      }
      .btn{
        display: block;
        width: 100%;
        height: 40px;
        background-color: rgb(0,136,255);
        cursor: pointer;
        border-radius: 50px;
        color: #fff;
        margin-top: 30px;
      }
      .easybtn{
        background-color: #0e0;
      }
      &--registration{
        margin-top: 80px;
        display: block;
        width: 100%;
        text-align: center;
      }
      &--recover{
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }
  .intro{
    border: 1px solid silver;
    width: 750px;
    height: 620px;
    background-color: #fff;
    text-align: center;
  
    &--title h1{
      font-size: 40px;
    }
  }
}

.sample-image{
  width: 700px;
  height: 500px;
  margin: auto;
}