@mixin task-box{
    content: '';
    height: 60px;
    width: 100%;
    border-bottom: 1px solid silver;
    display: flex;
    align-items: center;
  }

  @mixin task-show{
    margin-left: 10px;
    font-size: 20px;
    line-height: 60px;
  }

  

.user--info{
  margin: 90px auto 50px;
  height: 230px;
  width: 200px;
  &__name{
    color: black;
    text-align: center;
    font-size: 30px;
  }
  &__edit{
    text-decoration: none;
    border-bottom: 1px solid blue;
    color: black;
    font-size: 18px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }
  &__edit:hover{
    color: #4689FF;
  }
  
}


.icon_image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
  display: block;
  margin:0 auto;
}

.puzzle--list{
  width: 200px;
  margin: 0 auto;
  &--name{
    text-align: center;
    color: black;
    font-size: 18px;
    padding-bottom: 10px;
  }
}

.contents{
  position: relative;
  margin-top: 65px;
  &--menus{
    height: 65px;
    width: 100%;
    background-color: #74F9FF;
    display: flex;
    font-size: 20px;
    line-height: 65px;
    list-style: none;
    color: black;
  }
  &--menu{
    padding:0 20px;
    cursor: pointer;
  }
  &--menu > p{
    height: 48px;
  }
  &--menu > p:hover{
    transition: all 0.3s ease 0s;
    border-bottom: 3px solid #3366FF;
  }
}

#modal-show{
  cursor: pointer;
}

.puzzle-modal{
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .6);
  display: none;
  z-index: 2;
  position: absolute;
  left: 100px;
  width: 540px;
  height: 130px;
  border: 1px solid silver;
  background-color: #fff;
  border-radius: 10px;
  &__title{
    background-color: #E8FFE8;
    height: 50px;
    border-bottom: 1px solid silver;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    display: flex;
  }
  .puzzle__textbox{
    width: 300px;
  }
}

.puzzle-modal-close{
  margin-left: 50px;
  color: red;
  cursor: pointer;
}


/* モーダル */
.task-modal{
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .6);
  display: none;
  background-color: #fff;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 100px;
  width: 540px;
  height: 653px;
  border-radius: 10px;
  border: 1px solid silver;
  &__title{
    background-color: #E8FFE8;
    height: 50px;
    border-bottom: 1px solid silver;
    display: flex;
    align-items: center;
    .fa-window-close{
      margin-left: 150px;
      color: red;
      cursor: pointer;
    }
  }
  &__title p{
    line-height: 50px;
    font-size: 28px;
    margin-left: 10px;
  }
  &__edit{
    height: 60px;
    border-bottom: 1px solid silver;
    display: flex;
    align-items: center;
    padding:3px 0;
  }
  &__edit p{
    font-size: 20px;
    line-height: 60px;
    padding-left: 5px;
  }
  &__input{
    border-radius: 4px;
    margin-left: 10px;
    height: 30px;
    font-size: 20px;
    width: 370px;
  }
  &__btn{
    margin-left: 10px;
    height: 30px;
    width: 50px;
  }
}


.task--puzzle{
  display:flex;
  height:calc(100% - 100px);
  width: 100%;
  margin-top: 30px;
}

.task{
  width: 540px;
  height: 548px;
  margin:0 30px;
  position: relative;
  background-color: #E8FFE8;
  .position{
    position: absolute;
    right: 25px;
  }
  &--1{
    @include task-box;
  }
  &--1 p{
    @include task-show;
  }
  &--2{
    @include task-box;
  }
  &--2 p{
    @include task-show;
  }
  &--3{
    @include task-box;
  }
  &--3 p{
    @include task-show;
  }
  &--4{
    @include task-box;
  }
  &--4 p{
    @include task-show;
  }
  &--5{
    @include task-box;
  }
  &--5 p{
    @include task-show;
  }
  &--6{
    @include task-box;
  }
  &--6 p{
    @include task-show;
  }
  &--7{
    @include task-box;
  }
  &--7 p{
    @include task-show;
  }
  &--8{
    @include task-box;
  }
  &--8 p{
    @include task-show;
  }
  &--9{
    @include task-box;
  }
  &--9 p{
    @include task-show;
  }
}

/*チェックボタン始まり*/

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/*チェックボタン終わり*/



.canvas--wrapper{
  width: 540px;
  height: 540px;
  border: 1px solid black;
  position: relative;
}
#stage{
  position: absolute;
}

#top-left{
  position: absolute;
}

#top-center{
  position: absolute;
  top: 0;
  left: 180px;
}

#top-right{
  position: absolute;
  top: 0;
  right: 0;
}

#center-left{
  position: absolute;
  top: 180px;
  left: 0;
}

#center-center{
  position: absolute;
  top: 180px;
  left: 180px;
}

#center-right{
  position: absolute;
  top: 180px;
  right: 0;
}

#bottom-left{
  position: absolute;
  bottom: 0;
  left: 0;
}

#bottom-center{
  position: absolute;
  bottom: 0;
  right: 180px;
}

#bottom-right{
  position: absolute;
  bottom: 0;
  right: 0;
}

#line{
  position: absolute;
}