
.user--info{
  margin: 90px auto 50px;
  height: 230px;
  width: 200px;
  &__name{
    color: #fff;
    text-align: center;
    font-size: 30px;
  }
  &__edit{
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
}
.icon_image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
  display: block;
  margin:0 auto;
}

.puzzle--list{
  width: 200px;
  margin: 0 auto;
  &--name{
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding-bottom: 10px;
  }
}




.contents{
  margin-top: 65px;
  &--menus{
    height: 65px;
    width: 100%;
    background-color: #778899;
    display: flex;
    font-size: 20px;
    line-height: 65px;
    list-style: none;
    color: #fff;
  }
  &--menu{
    padding:0 20px;
  }
}

.task--puzzle{
  display:flex;
  height:100%;
  width: 100%;
  margin-top: 30px;
}

.task{
  width: 540px;
  height: 540px;
  margin:0 30px;
  background-color: pink;
}

.puzzle{
  width: 540px;
  height: 540px;
  border: 1px solid black;
}

